            <!------FIRST CARD----------------->
            <div class="caro-item wow fadeInDown">
                <div class="course-box fixed-dimension">
                  <!-- <div class="course-footer clearfix text-center"> OCT
                  </div> -->
                  <div class="image-wrap entry">
                    <img
                      src="images/school/kmms_school.png"
                      alt="Kanha Makkhan Millenium School"
                      class="img-responsive"
                    />
                  </div>
  
                  <!-- end image-wrap -->
  
                  <div class="calendar-details">
                    <h4>
                      <strong>26th-27th October</strong>
                      Behes Mathura Round
                      <!-- <a href="#" title=""
                        >test subheading</a
                      > -->
                    </h4>
                    <span> Kanha Makhan Millenium School </span>
  
                    <!-- FORMS LINK -->
                    <ul>
                      <a
                        href="https://docs.google.com/spreadsheets/d/1X6fCrwIcRmy9a9IDdXX3_bhyBeRwMDEcNsoETEwg16M/edit?usp=sharing"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Cubs Schedule
                        </li>
                      </a>
  
                      <a
                        href="https://docs.google.com/spreadsheets/d/11S_dmnkk_gJZMgBkgqGh_SstoCAokuk6ialPqgUGE7Y/edit?usp=sharing"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Lions Schedule
                        </li>
                      </a>
  
                      <!-- <a
                        href="offline-forms/Behes School Delegation Registration Form.xlsx"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          School Delegation Form
                        </li>
                      </a> -->
                    </ul>
                  </div>
                  <!-- end caro item -->
  
                  <!-- CAROUSEL BUTTONS -->
                  <div class="pull-left"></div>
                  <div class="pull-right"></div>
                </div>
                <!--end calendar box-->
              </div>
              <!--end caro item-->
  
              <!------SECOND CARD----------------->
              <div class="caro-item wow fadeInUp">
                <div class="course-box fixed-dimension">
                  <!-- <div class="course-footer clearfix text-center"> NOV
                  </div> -->
                  <div class="image-wrap entry">
                    <img
                      src="images/school/heritagelogo.jpg"
                      alt="The Heritage School, Vasant Kunj"
                      class="img-responsive"
                    />
                  </div>
  
                  <!-- end image-wrap -->
  
                  <div class="calendar-details">
                    <h4>
                      <strong>8th-9th November</strong>
                      Behes South Delhi Round
                      <!-- <a href="#" title=""
                        >test subheading</a
                      > -->
                    </h4>
                    <span> The Heritage School, Vasant Kunj </span>
  
                    <!-- FORMS LINK -->
                    <ul>
                      <a
                        href="https://docs.google.com/forms/d/1X_Aq9oyA3U6grg-UUL9S3IoztoBbB41E_EDPH0G610g/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Cubs Individual Form
                        </li>
                      </a>
  
                      <a
                        href="https://docs.google.com/forms/d/1eOhgi3w9tBVmXWOyvI1DToMq9ja6trcFeRyfk06TnwU/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Lions Individual Form
                        </li>
                      </a>
  
                      <a
                        href="offline-forms/Behes School Delegation Registration Form.xlsx"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          School Delegation Form
                        </li>
                      </a>
                    </ul>
                  </div>
                  <!-- end caro item -->
  
                  <!-- CAROUSEL BUTTONS -->
                  <div class="pull-left"></div>
                  <div class="pull-right"></div>
                </div>
                <!--end calendar box-->
              </div>
              <!--end caro item-->
  
              <!------THIRD CARD----------------->
              <div class="caro-item wow fadeInDown">
                <div class="course-box fixed-dimension">
                  <!-- <div class="course-footer clearfix text-center"> NOV
                  </div> -->
                  <div class="image-wrap entry">
                    <img
                      src="images/school/gearlogo.png"
                      alt="GEAR Innovative International School"
                      class="img-responsive"
                    />
                  </div>
  
                  <!-- end image-wrap -->
  
                  <div class="calendar-details">
                    <h4>
                      <strong>9th-10th November</strong>
                      Behes Bengaluru Round
                      <!-- <a href="#" title=""
                        >test subheading</a
                      > -->
                    </h4>
                    <span> GEAR Innovative International School </span>
  
                    <!-- FORMS LINK -->
                    <ul>
                      <a
                        href="https://docs.google.com/forms/d/1CqodofX4Gwa_EN2FSp_6W-6eHmd1oLPpzB8--Zu0nbI/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Cubs Individual Form
                        </li>
                      </a>
  
                      <a
                        href="https://docs.google.com/forms/d/15wdqXDBytk_qAMACkkxfDnxSPqcQ3e_4ZzEan0HXsBs/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Lions Individual Form
                        </li>
                      </a>
  
                      <a
                        href="offline-forms/Behes_Bengaluru_Round___@_Gear_Innovative_Intl_School___School_Reg.xlsx"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          School Delegation Form
                        </li>
                      </a>
                    </ul>
                  </div>
                  <!-- end caro item -->
  
                  <!-- CAROUSEL BUTTONS -->
                  <div class="pull-left"></div>
                  <div class="pull-right"></div>
                </div>
                <!--end calendar box-->
              </div>
              <!--end caro item-->
  
              <!------FOURTH CARD----------------->
              <div class="caro-item wow fadeInDown">
                <div class="course-box fixed-dimension">
                  <!-- <div class="course-footer clearfix text-center"> NOV
                  </div> -->
                  <div class="image-wrap entry">
                    <img
                      src="images/school/divine-child.png"
                      alt="Divine Child International School"
                      class="img-responsive"
                    />
                  </div>
  
                  <!-- end image-wrap -->
  
                  <div class="calendar-details">
                    <h4>
                      <strong>16th-17th Nov</strong>
                      Behes Gandhinagar Round
                      <!-- <a href="#" title=""
                        >test subheading</a
                      > -->
                    </h4>
                    <span> Divine Child International School </span>
  
                    <!-- FORMS LINK -->
                    <ul>
                      <a
                        href="https://docs.google.com/forms/d/1zRTQfPb5YiGR4UI7xo7gCowg5NFNPhk8Y58XJuvfFCA/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Cubs Individual Form
                        </li>
                      </a>
  
                      <a
                        href="https://docs.google.com/forms/d/1aDJA_TCL8mTUrgcwQXpgAmmWvWcGKEmetgbv-Bduv2E/edit?usp=drivesdk"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          Lions Individual Form
                        </li>
                      </a>
  
                      <a
                        href="offline-forms/Behes_Gandhinagar_Round_@_Divine_Child_Intl_School___School_Reg.xlsx"
                        target="_blank"
                      >
                        <li>
                          <i class="fa fa-link"></i>
                          School Delegation Form
                        </li>
                      </a>
                    </ul>
                  </div>
                  <!-- end caro item -->
  
                  <!-- CAROUSEL BUTTONS -->
                  <div class="pull-left"></div>
                  <div class="pull-right"></div>
                </div>
                <!--end calendar box-->
              </div>
              <!--end caro item-->
  